/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f2;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.company-name {
  font-size: 24px;
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navigation li {
  font-size: 18px;
}

.right-section {
  display: flex;
  align-items: center;
}

.bell-icon {
  font-size: 24px;
  color: #555;
  margin-right: 10px;
}

.connect-wallet-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

.connect-wallet-button:hover {
  background-color: #333;
}

/* Section styles */
section {
  padding: 5px;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 100px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.channel-details h4 {
  font-size: 18px;
  margin-bottom: 0px;
}

.subscribers {
  font-size: 15px;
  margin-bottom: 0x;
}

.wallet-address {
  font-size: 14px;
  color: #777;
}

.subscribe-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar input[type="text"] {
  padding: 10px;
  width: 97%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Font Awesome icons */
.fab {
  font-size: 24px;
}

footer {
  margin-top: 40px;
  text-align: center;
}

.footer-links a {
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
}

.social-media-icons {
  margin-top: 20px;
}

.social-media-icons i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}

.social-media-icons i:last-child {
  margin-right: 0;
}

.social-media-icons i:hover {
  background-color: #007bff;
}

footer p {
  margin-top: 20px;
  font-size: 12px;
  color: #999;
}
